<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RedBallTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="k1" value="8" />
    <add key="scores" value="System.Data.SqlClient" />

    <add key="connectionString" value="Data Source=DESKTOP-B086VBM;Initial Catalog=DBFoosball;Trusted_Connection=True;Pooling=False" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RedBallTracker.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>FoosBall tracker gamez</value>
            </setting>
            <setting name="Button" serializeAs="String">
                <value>Press the button to change the title</value>
            </setting>
        </RedBallTracker.Properties.Settings>
    </userSettings>
<connectionStrings><add name="ModelWork" connectionString="data source=DESKTOP-B086VBM;initial catalog=DBFoosball;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model2" connectionString="data source=DESKTOP-B086VBM;initial catalog=DBFoosball;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>